/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
  The following two functions are used to convert pixel values to rem and em values.
  Only intended to be used in instances where designs call for very specific px values that are non-standard.
  Please use rem and em values by default where possible without using this as a conversion tool.
*/
/* 
    md: 50em,
    lg: 65em,
*/
body {
  background-color: hsl(233deg, 47%, 7%);
  display: grid;
  place-items: center;
  color: hsla(0deg, 0%, 100%, 0.75);
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
}

h1 {
  text-align: center;
  line-height: 1.1;
  color: hsl(0deg, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}
@media screen and (min-width: 71em) {
  h1 {
    font-size: 2.25rem;
  }
}

p {
  text-align: center;
  line-height: 1.65;
}
@media screen and (min-width: 71em) {
  p {
    max-width: 40ch;
  }
}

@media screen and (min-width: 71em) {
  h1,
p {
    text-align: left;
  }
}
.card {
  display: grid;
  width: min(100% - 3.5rem, 450px);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background-color: hsl(244deg, 38%, 16%);
  border-radius: 0.5rem;
  overflow: hidden;
}
.card__img {
  background-color: hsl(277deg, 64%, 61%);
}
.card__img img {
  mix-blend-mode: multiply;
}
.card__content {
  padding: 2.5rem 2rem 1.5rem;
  display: grid;
  row-gap: 1.1rem;
}
@media screen and (min-width: 71em) {
  .card {
    width: 67.5rem;
    grid-template-columns: 1fr 1fr;
  }
  .card__content {
    grid-row-start: 1;
    padding: 4.5rem 3.5rem 1.5rem;
  }
}

.card__stats {
  text-align: center;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: hsla(0deg, 0%, 100%, 0.6);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 71em) {
  .card__stats {
    display: flex;
    flex-direction: row;
    text-align: left;
    -moz-column-gap: 3.5rem;
         column-gap: 3.5rem;
  }
}

.card__stats-numeral {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 100%);
  text-transform: none;
}

.color-magenta {
  color: hsl(277deg, 64%, 61%);
}/*# sourceMappingURL=style.css.map */