@use "../abstracts/" as *;

.card {
  display: grid;
  width: min(100% - 3rem, 800px);
  margin-inline: auto;
  background-color: $clr--primary-blue-300;
  border-radius: 0.5rem;
  overflow: hidden;
}
