@use "../abstracts/" as *;

body {
  background-color: $clr--primary-blue-400;
  display: grid;
  place-content: center;

  color: $clr--neutral-300;
  font-size: $fs-regular;
  font-weight: $fw-regular;
  font-family: $ff-regular;
}

h1 {
  text-align: center;
  line-height: 1.1;

  color: $clr--neutral-400;
  font-family: $ff-headings;
  font-weight: $fw-bold;
  font-size: $fs-headings;
}

p {
  text-align: center;
  line-height: 1.65;
}
