@use "../abstracts/" as *;

body {
  background-color: $clr--primary-blue-400;
  display: grid;
  place-items: center;

  color: $clr--neutral-300;
  font-size: $fs-regular;
  font-weight: $fw-regular;
  font-family: $ff-regular;
}

h1 {
  text-align: center;
  line-height: 1.1;

  color: $clr--neutral-400;
  font-family: $ff-headings;
  font-weight: $fw-bold;
  font-size: $fs-headings;

  @include mq(lg) {
    font-size: $fs-headings-lg;
  }
}

p {
  text-align: center;
  line-height: 1.65;
  @include mq(lg) {
    max-width: 40ch;
  }
}

@include mq(lg) {
  h1,
  p {
    text-align: left;
  }
}
