$fs-regular: 0.9375rem;
$fs-headings: 1.75rem;
$fs-headings-lg: 2.25rem;
$fs-numerals: 1.5rem;

$fw-regular: 400;
$fw-bold: 700;

$ff-regular: "Lexend Deca", sans-serif;
$ff-headings: "Inter", sans-serif; ;
